html
	head
	body
		h3#announcement Announcement
		h2#dear-below-is-your-one-time-access-code-to-the-database-here-are-some-important-notes Dear, below is your one-time access code to the database, here are some important notes:
		ol
			li ** Do not ** give this code to anyone other but you, in addition, it is necessary to change your password regularly to avoid accidental or intentional damage to the database.
			li
				| This is a
				strong one-time
				| access code, so during the usage, you must
				strong continuously interact
				| with the screen (to avoid auto-reload) and never
				strong reload
				| the web page.
			li
				| When making changes to the data in the database, it is
				strong your responsibility
				| to ensure the integrity of the entire system.
			li Any damages caused by careless correction will be handled according to school regulations.
		p Code: 17719231-5dcf-4815-8668-7821c02d0d62.
		p
			| Link:
			a(href="http://localhost:6969/data?keyAccess=17719231-5dcf-4815-8668-7821c02d0d62") http://localhost:6969/data?keyAccess=17719231-5dcf-4815-8668-7821c02d0d62
			| .
		p
			em Message from admin, licensed by the Office of Academic Affairs.