html
	head
	body
		p
			strong Nhằm phục vụ cho Hội nghị Đảng viên lần 2, Phòng Đào tạo Đại học thông báo đến sinh viên về việc thay đổi phòng thi cho kỳ thi giữa kỳ học kỳ 1 đợt 2, năm học 2020-2021 như sau:
		ul
			li
				p
					| Calculus 1, phòng cũ:
					strong A2.104
					| , phòng mới:
					strong A1.409
			li
				p
					| Financial Accounting, phòng cũ:
					strong A2.104
					| , phòng mới:
					strong A1.409
		p
			em Sinh viên vui lòng thực hiện theo thông báo.