html
	head
	body
		h3#netlify-status
			a(href="https://app.netlify.com/sites/iu-dormitory/deploys")
				img(src="https://api.netlify.com/api/v1/badges/5b7e7b86-0128-4235-9b5e-ab30035cfe40/deploy-status", alt="Netlify Status")
		h1#things-to-do-after-cloning Things To Do After Cloning
		p Require: Git, NodeJS (and NPM) pre-installed
		ul
			li
				| After cloning the project to your pc, please run
				code npm install
				| (
				code npm i
				| ) in the terminal to install important addition to run the program.
			li
				| And make sure your computer has the recent version (don't be too outdated) of NodeJS and NPM software available on your computer (you can update the NodeJS/NPM version by using
				code nvm
				| )
		h1#about About
		p The project is called 'IU's Dormitory', is the front-end part of a full-stack application of the same name.
		h2#details Details
		p A full CRUD React application of the MVC model:
		ul
			li Create-react-app
			li Material-ui
			li NPM packages
			li External APIs
			li Redux
			li Deploy
		h2#about-me-please-visit-my-facebook-account-or-mail-to-me-via-my-gmail
			| About me: please visit
			a(href="https://www.facebook.com/thuc.katy/") my Facebook account
			| , or mail to me via
			a(href="mailto:katyperrycbt@gmail.com") my Gmail