html
	head
	body
		p
			strong
				em Vào thứ 2, thứ 3 ngày 28, 29 tháng 12 năm 2020,
		p
			| Do Học Viện Cán bộ tổ chức thi công chức, Nhà trường thông báo đến các
			em giảng viên
			| có lịch dạy và
			em sinh viên
			| có lịch học vào thời gian trên
			em tại cơ sở Học viên Cán bộ
			| được nghỉ học. Thời gian học bù Nhà trường sẽ thông báo sau.
		p
			em Nhà trường thông báo đến giảng viên và sinh viên để biết và thực hiện.
		p
			| (Sinh viên xem thông báo
			em
				a(href="https://edusoftweb.hcmiu.edu.vn/Upload/file/LichThi/185TB-DHQT.pdf") tại đây
			| )