html
	head
	body
		ul
			li
				input(checked="", disabled="", type="checkbox")
				|  @mentions, #refs,
				a(href="") links
				| ,
				strong formatting
				| , and
				del tags
				| supported
			li
				input(checked="", disabled="", type="checkbox")
				|  list syntax required (any unordered or ordered list supported)
			li
				input(checked="", disabled="", type="checkbox")
				|  this is a complete item
			li
				input(disabled="", type="checkbox")
				|  this is an incomplete item