html
	head
	body
		p ANNOUNCEMENT
		p The Office of Academic Affairs would like to inform students* about name list of Physical Training 1 and Physical Training 2 in the 1st semester, academic year 2020 – 2021, as below:
		p Subject
		p Group
		p Course name
		p Day
		p Section
		p Physical Training 1 (PT001IU)
		p 01
		p Table Tennis
		p 2
		p Morning
		p Physical Training 2 (PT002IU)
		p 01
		p Table Tennis
		p 6
		p Morning
		p 02
		p Table Tennis
		p 4
		p Afternoon
		p *Only applied to Intake 2019 and previous intakes
		p Ø Venue:
		p § Table Tennis: 4th floor at International University
		pre
			code                                                                                    THE OFFICE OF ACADEMIC AFFAIRS