html
	head
	body
		p Dear All Students,
		p Office of Quality Assurance would like to inform all students on Online Course Evaluation, Semester 1, Academic year 2020-2021
		p Survey channel: Edusoft Web
		p Survey period time:
		p Please sign up student’s edusoft account for schedule of course evaluation online survey.
		p Please follow these steps to complete surveys:
		p
			| Sign up student’s edusoft account on
			a(href="https://edusoftweb.hcmiu.edu.vn/") https://edusoftweb.hcmiu.edu.vn/
			| Click on the Tab “Evaluation Teaching” Do and save all surveys on time