extends layouts/common

block content
    img.mb-5(src='/images/404_2.png', alt='404', usemap='#workmap')
    map(name='workmap')
        area(shape='rect', coords='579,556,621,600', alt='Image', href='/users')
