extends ../layouts/common

block content
    link(rel="stylesheet", href="/styles/myTable.css")
    script(type='text/javascript').
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });


    .px-3.pt-3.mb-5.hide
        h1 Privacy Policy & Terms Of Use
        span
            h5 Privacy Policy and Terms Of Use reflect the way MySchool’s system works, the laws that apply to our company, and certain things we’ve always believed to be true. As a result, these Terms of Service help define MySchool’s relationship with you as you interact with our services. For example, these terms include the following topic headings:
            span
                h5 1. What you can expect from us, which describes how we provide and develop our services
                h5 2. What we expect from you, which establishes certain rules for using our services
                h5 3. Content in MySchool services, which describes the intellectual property rights to the content you find in our services — whether that content belongs to you, MySchool, or others
                h5 4. In case of problems or disagreements, which describes other legal rights you have, and what to expect in case someone violates these terms
        hr
        h3 I. Privacy Policy
        hr
        div
            h5 1. What we collect
            p By accessing and logging into the website, you consent to the site reading your account information, including, but not limited to: <strong>your identity, your name, your IP address and action</strong>. We also use cookies to store your login session.
            h5 2. Why we collect
            p Like any other website, knowing who you are makes it possible for us to process your requests to the system, as well as to take some security measures.
        hr
        h3 II. Terms Of Use
        hr
        div
            h4 By using the website, you are required to accept the terms set forth by us. This is not a legal requirement, but it will describe how you use the website.
            h5 1. Our responsibility
            p We have been and will always try to protect your personal information because we have a lot of respect for it. Of course, we have taken security measures for the website, however, the use of security holes by fraudsters to penetrate is something we always seek to avoid. So, if you see any security issues, contact us at <a href='mailto:katyperry@gmail.com'>katyperry@gmail.com</a>.
            h5 2. Your responsibility
            p Ensuring integrity of the system requires a combination of us and you. Therefore, you are required to: <br>1. Change your password often, especially after signing in in a public place. <br>2. Read carefully the <strong>Instruction</strong> section below to understand how the website works. <br>3. Do not access or intentionally access places that are not within your authority. All unauthorized access is recorded, if violated, you may be punished according to school regulations.
        hr
        h3 III. Instruction
        hr
        div
            h5 1. Tooltip
            p Most of the buttons there are tooltip text. This legend briefly demonstrates the function of that button.
            h5 2. About the icon bar on the left and right of the screen
            p Shortcuts to school social networking sites, or entertainment shortcuts: like a song, video ... Can be hidden with a shortcut next to the breadcrumb bar.
            h5 3. Night mode
            p Positioned near the top right, it has a moon-shaped icon. This is a shortcut to change between a dark and light theme.
            h5 4. Explain the function of each button on the navigation bar in order from left to right
            p - Home page: introduction, the first part you see when you login successfully. <br>- Announcement: Individual announcements, and different numbers of announcements for each account. <br>- User list / Info: section showing personal information, accompanied by a shortcut to edit personal information including password, view salary or tuition fees depending on the account type. <br>- Create an account: create a new account. <br>- Registration: subject registration for the upcoming semester. <br>- Schedule: see your timetable. <br>- Download student list: view the course you undertake and download a list of students for that subject. <br>- Admin functions: specialized functions for admin.
            h5 5. Hello

