.myCell:hover {
    /*border-style:solid;*/
    /*border-color:#F60;*/
    /*border-width:medium;*/
    background-color: #3cb371;
    transform: scale(1.5);
    transition: all 0.3s 0s ease-out;

    /*border-left-style:dotted;*/
    /*border-right-style:dotted;*/

}