.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
/*.dropdown>.dropdown-toggle>.dropdown-menu:hover {*/
/*    background-color: #1f71e7;*/
/*}*/

.hide {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    text-align: center;
    align-items: center;
    vertical-align : middle;
    justify-content: center;
    padding: 3px;
    background-color: gray;
    color: white;
}