.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
/*.dropdown>.dropdown-toggle>.dropdown-menu:hover {*/
/*    background-color: #1f71e7;*/
/*}*/

.hide {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    /*position: sticky;*/
    /*position: -webkit-sticky;*/
    /*left: 0 ; right: 0; bottom: 0;*/
    /*text-align: center;*/
    align-items: center;
    vertical-align : middle;
    justify-content: center;
    /*padding: 3px;*/
    background-color: gray;
    color: white;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*background:#ccccff;*/
    /*color:#000000;*/
    text-align:center;
    font-weight:bold;
    line-height:20px;
}

.avt {
    z-index: 0;
}

body {
    cursor: url(../images/006-cursor-1.cur), auto;
    /*cursor: url("006-cursor-1.cur"), wait;*/
}
