.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
/*.dropdown>.dropdown-toggle>.dropdown-menu:hover {*/
/*    background-color: #1f71e7;*/
/*}*/

.hide {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    /*position: sticky;*/
    /*position: -webkit-sticky;*/
    /*left: 0 ; right: 0; bottom: 0;*/
    /*text-align: center;*/
    align-items: center;
    vertical-align : middle;
    justify-content: center;
    /*padding: 3px;*/
    background-color: gray;
    color: white;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*background:#ccccff;*/
    /*color:#000000;*/
    text-align:center;
    font-weight:bold;
    line-height:20px;
}

.avt {
    z-index: 0;
}

* {
    transition: 2s;
    transition-duration: 0.5s;
}

body {
    cursor: url(../images/006-cursor-1.cur), auto;
    /*transition: 5s;*/
    /*transition-duration: 5s;*/
    /*cursor: url("006-cursor-1.cur"), wait;*/
}

ul.breadcrumb {
    /*padding: 10px 10px 10px 10px;*/
    padding: 10px 12px 2px;
    list-style: none;
    background-color: #eee;
    width: 30%;
    border-radius: 30px;
    transition-property: background-color;
    transition: 2s;
    transition-duration: 1s;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}