.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.my-custom-scrollbar-fee {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

th {
    background: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: -2px 5px 2px -1px rgba(0, 0, 0, 0.4);
}

input[type="checkbox"]:checked::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.ui-table-header-row{
    width:100%;
    /*background-color:#dbb100;*/
    /*color:#fff;*/
}
.ui-table-header-cell{
    z-index: 1;
}