extends ../layouts/common

block content
    h1 Assign Subjects To Rooms
    hr(style="background-color: lightgray;")
    .container-fluid.mt-5
        .row
            .col-sm-4(style='border-right: 1px solid gray;')
                h2 Select subject
                form(action="/users", method="GET")
                    .form-group
                        label(for='exampleFormControlSelect1') Available
                        select#exampleFormControlSelect1.form-control(size='5', style='overflow-x: scroll;')
                            each subject in subjects
                                option= 'ID: '+ subject.id_sub + '; Name: ' + subject.name_sub
                    button.btn.btn-primary.form-inline(type='submit', style='float: right;') ☕
            .col-sm-2(style='border-right: 1px solid gray;')
                h2 Room
                if rooms
                    form(action="/users", method="GET")
                        .form-group
                            label(for='exampleFormControlSelect2') Available
                            select#exampleFormControlSelect2.form-control(size='5', style='overflow-x: scroll;')
                              each room in rooms
                                option= 'ID: '+ room.id + '; Room: ' + room.room

                        button.btn.btn-primary.form-inline(type='submit', style='float: right;') ☕
                else
                    small(class='invalid-feedback') 'Select a subject first!'

            .col-sm-6
                h2 Current status