script.
  var a = document.createElement('a');
  a.href = "../todos.csv";
  a.download = 'download';

  a.click();

//a(href="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" download) download