extends ../layouts/common

block content
    link(rel="stylesheet", href="/styles/cellHover.css")
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    .px-3.pt-3.mb-5.hide
        h3(style='color: green;') Details

        if (thisANCM && whoPost)
                h4(style='color: blue;')= thisANCM.title
                hr
                .p-3
                    pre= thisANCM.content
                    br
                    hr
                    small= 'Posted by ' + whoPost + ' on ' + thisANCM.when
